.animate_col:hover{
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    cursor: pointer;
    background-color: lightblue;
    color:#333;

}


.animate_col:hover::after {
    transform: scale(1.5);
    opacity: 0;
}


@keyframes moveInButton {
    0% {
            opacity: 0;
            transform: translateY(3rem);
    }

  

    100% {
            opacity: 1;
            transform: translateX(0);
    }
}
.animate_col{
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
  
}
